body {
    margin:0;
	padding:0;
	background-color: LightGrey;
	/* background-color: LightBlue; */
}

.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}
.navbar li {
	float: left;
}

.navbar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.navbar li a:hover:not(.active, #greeting) {
  background-color: #111;
}
.navbar .active {
  background-color: #04AA6D;
}
.navbar #logo {
	/* font-size: 150%; */
	display: inline-block;
	font-weight: bold;
	color: LightBlue;
	font-family: Arial, Helvetica, sans-serif;
}


/* .headerDiv {
	background-color: Grey;
	width: 100%;
	box-sizing: border-box;
	display: inline-block;
	border: 2px solid dimgrey;
}
.headerDiv #headerLogo {
	font-size: 200%;
	font-weight: bold;
	text-decoration: none;
	color: AliceBlue;
	font-family: Arial, Helvetica, sans-serif;
	margin-left:20px;
	margin-right:20px;
	display: inline-block;
	float: left;
} */

h1 {
  background: #acacac;
  box-sizing: border-box;
  padding: 0.5%;
  text-align: center;
  color: #333;
  font-size: 30px;
  margin: 0 0 2% 0;
}

.loginForm {
    margin: 5% 25%;
	border: 3px solid #f1f1f1;
	width: 50%;
	padding: 14px 20px;
	background-color: #f2f2f2;
	
}
.loginForm button {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

.loginForm button:hover {
  opacity: 0.8;
}

.loginForm input[type=text], input[type=password] {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
}

.errorMsg {
  color:red;
  background-color: LavenderBlush;
  border: 1px solid pink;
  border-radius: 4px;
  /* box-shadow: 0px 0px 20px 0px rgba(255,0,0,0.2); */
  padding: 6px 10px;
}
.successMsg{
  color: Green;
  background-color: LightGreen;
  border: 1px solid pink;
  border-radius: 4px;
  /* box-shadow: 0px 0px 20px 0px rgba(255,0,0,0.2); */
  padding: 6px 10px;
}


/* a:link[name=headerRightLink], a:visited[name=headerRightLink] {
	background-color: #f44336;
	color: white;
	padding: 0.5% 1%;
	float: right;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	border-radius: 12px;
}

a:hover[name=headerRightLink], a:active[name=headerRightLink] {
  background-color: red;
}

a:link[name=headerLeftLink], a:visited[name=headerLeftLink] {
	background-color: #4040ff;
	float: left;
	color: white;
	padding: 0.5% 1%;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	border-radius: 12px;
}
a:hover[name=headerLeftLink], a:active[name=headerLeftLink] {
  background-color: blue;
}
span[name=headerGreeting] {
	float: right;
	font-size:18px;
} */

span[name=basicPageText] {
	/* color: green; */
	font-size:120%;
	/* padding: 5%; */
	margin: 5%;
	margin-top:20px; 
	display:inline-block;
}

#listUsers {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  /* width: 70%; */
}

#listUsers td, #listUsers th {
  border: 1px solid #ddd;
  padding: 8px;
  width: auto;
}

#listUsers tr:nth-child(even){background-color: #f2f2f2;}

#listUsers tr:hover {background-color: #ddd;}

#listUsers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04AA6D;
  /* background-color: DimGray; */
  color: white;
}