<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<link href="../../../resources/css/styles.css" rel="stylesheet" 
			media="screen" th:href="@{/resources/css/styles.css}"/>
		<title>Create user</title>
	</head>
	<body>
		<header th:replace="fragments/header :: header" />
		
		<form class="loginForm" action="#" th:action="@{/createUser}" th:object="${user}" method="post">
		
			<input type="text" th:field="*{username}" placeholder="Username" />
			<!-- <label>Username: </label> -->
			<span class="errorMsg" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Name Error</span>
			<br/>
			
			<input type="password" th:field="*{password}" placeholder="Password"/>
			<!-- <span>Password: </span> -->
			<span class="errorMsg" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password Error</span>
			<br/>
			<ul>
			  <li th:each="role : ${possibleRoles}">
				<input type="checkbox" th:field="*{roles}" th:value="${role}" />
				<label th:for="${#ids.prev('roles')}" 
					   th:text="${role}">*possible_role*</label>
			  </li>
			</ul>
			<p>
				<button type="submit" style="background-color: #4040ff;">Create new account</button>
			</p>
		</form>
		
	</body>
</html>