<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
	<head>
		<link href="../../../resources/css/styles.css" rel="stylesheet" 
			media="screen" th:href="@{/resources/css/styles.css}"/>
		<title>Please Log In</title>
	</head>
	<body>
		<header th:replace="fragments/header :: header" />
		<div class="loginForm">
			
			
			<div th:if="${param.logout}">
				You have been logged out.</div>
				
			<form  th:action="@{/login}" method="post">
				<div class="errorMsg" th:if="${param.error}">Bad credentials.</div>
				<div>
				<input type="text" name="username" placeholder="Username"/>
				</div>
				<div>
				<input type="password" name="password" placeholder="Password"/>
				</div>
				<button type="submit">Log in</button>
				
			</form>
			<p style="text-align: center">or</p>
			<a th:href="${loginGoogle}">Login with Google</a>
			
		</div>
	</body>
</html>