<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<link href="../../../resources/css/styles.css" rel="stylesheet" 
			media="screen" th:href="@{/resources/css/styles.css}"/>
		<title>Messages</title>
	</head>
	<body>
		<header th:replace="fragments/header :: header" />
		<h1>Messages</h1>
		<div style="width:80%; margin: auto;">  <!-- border:1px solid black; -->
			<ul class="messagesList">
				<li th:each="msg : ${messages}">
					<span th:utext="|<b>${msg.author.username}</b>: |"></span>
					<span id="date" th:text="${#temporals.format(msg.date, 'dd-MM-yyyy HH:mm')}"></span>
					<span th:text="${msg.text}"></span>
				</li>
			</ul>
			
			
			
			<form class="createMessageForm" th:if="${#authorization.expression('hasRole(''ROLE_USER'')')}"
				action="#" th:action="@{/messages}"
				th:object="${message}" method="post">
				
				
				<textarea th:field="*{text}" placeholder="input your message here" autofocus/>
				
				<span class="successMsg" th:if="${successMsg != null}" th:text="${successMsg}" />
				
				<button type="submit">Post</button>
				
			</form>
		
		</div>
	</body>
</html>