<!DOCTYPE html>
<html>
  <head>
	<!-- th:text="${#authentication.name}" -->
  </head>
  <body>
    <div th:fragment="header" >
		
		<ul class="navbar">
			<li><a id="logo" href="/">Spring Forum</a></li>
			<span th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}">
				<li><a href="/createUser">Create user</a></li>
				<li><a href="/listUsers">List users</a></li>
			</span>
			
			<!-- <li style="float:right"><a class="active" href="/login">Login</a></li> -->
			<span th:if="${#authorization.expression('isAuthenticated()')}">
				<li style="float:right">
					<a href="/logout">Logout</a>
				</li>
				<li style="float:right">
					<a id="greeting" th:utext="|Hello, <b>${#authentication.name}</b>!|" />
				</li>
			</span>
			<span th:if="${#authorization.expression('!isAuthenticated()')}">
				<li style="float:right"><a href="/login" class="active">Login</a></li>
			</span>
			
		</ul>
		
		<!-- can delete this headerDiv -->
		<div class="headerDiv" style="display: none;">
			<a id="headerLogo" href="/">Spring Forum</a>
			<!-- <span style="float: right"> -->
				<span name="headerGreeting"
					th:if="${#authorization.expression('isAuthenticated()')}">
					<span th:utext="|Hello, <b>${#authentication.name}</b>!|" />
					<a name="headerRightLink" href="/logout">Logout</a>
				</span>
				
				<span
					th:if="${#authorization.expression('!isAuthenticated()')}">
					
					<a name="headerRightLink" href="/login">Login</a>
				</span>
			<!-- </span> -->
			
			<!-- <span> -->
				
				
				<a name="headerLeftLink" 
					th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}"
					href="/createUser">Create User</a>
					
				<a name="headerLeftLink" 
					th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}"
					href="/listUsers">List users</a>
			<!-- </span> -->
			
		</div> 
		
    </div>
	
	
	
	
	
  </body>
</html>