<!DOCTYPE html>
<html>
  <head>
	<!-- th:text="${#authentication.name}" -->
  </head>
  <body>
    <div th:fragment="header" >
		
		<ul class="navbar">
			<li><a id="logo" href="/">Spring Forum</a></li>
			<span th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}">
				<li><a href="/createUser">Create user</a></li>
				<li><a href="/listUsers">List users</a></li>
			</span>
			<li><a href="/messages">Messages</a></li>
			<!-- <li style="float:right"><a class="active" href="/login">Login</a></li> -->
			<span th:if="${#authorization.expression('isAuthenticated()')}">
				<li style="float:right">
					<a href="/logout">Logout</a>
				</li>
				<li style="float:right">
					<a id="greeting" th:utext="|Hello, <b>${#authentication.name}</b>!|" />
				</li>
			</span>
			<span th:if="${#authorization.expression('!isAuthenticated()')}">
				<li style="float:right"><a href="/login" class="active">Login</a></li>
			</span>
			
		</ul>
		
    </div>
	
	
	
	
	
  </body>
</html>